In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('C:/Users/Pc/Documents/Housing_Queretaro/WebscrapingHousing/archive_COMPLETED.csv')
df.head()

,Unnamed: 0,House,Price,Ubication,Features
0,0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

Delete 'Unnamed: 0' column from dataframe

In [24]:
df =df.drop('Unnamed: 0', axis=1)
df.head()

,House,Price,Ubication,Features
0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

# 1.Diagnosis

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   House      995 non-null    object
 1   Price      1050 non-null   object
 2   Ubication  987 non-null    object
 3   Features   1054 non-null   object
dtypes: object(4)
memory usage: 33.1+ KB

We can see missing values, and we need to change the type of 'Price' column to 'int'

#### 1.1 Missing values

Delete missing values from House column

In [26]:
df.isna().sum()

House        59
Price         4
Ubication    67
Features      0
dtype: int64

In [27]:
df = df.dropna(subset=['House'])
df.isna().sum()

House        0
Price        0
Ubication    8
Features     0
dtype: int64

Deleting missing values from 'Ubication' column

In [28]:
df = df.dropna(subset=['Ubication'])
df.isna().sum()

House        0
Price        0
Ubication    0
Features     0
dtype: int64

In [29]:
#df = df[df['Features'] != '[]' | df['Features'] != "['no disponible', 'no disponible']"] 

df = df[~df['Features'].isin(["[]","['no disponible', 'no disponible']"])]

### 1.2 Types of data that we have in df
Price column should be int, but data format is "5,650,000" we need delete "," character

In [30]:
df.loc[:, 'Price'] = df['Price'].str.replace(',', '')
df.loc[:, 'Price'] = df['Price'].str.replace('.', '')
df.head()

,House,Price,Ubication,Features
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru..."

########## pasar al ultimo ############## Changing to int type

In [31]:
#df.loc[:, 'Price'] = df['Price'].astype('int')
df.head()

,House,Price,Ubication,Features
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru..."

1.3 "Feature" column has an string with differente values, checking one example

In [32]:
df['Features'][1]

"['Superficie total286 m²', 'Superficie construida314 m²', 'Recámaras4', 'Baños5', 'Estacionamientos2', 'Es propiedad en remateNo', 'Antigüedad8 años', 'Ambientes10', 'Bodegas0', 'Cantidad de pisos0', 'Tipo de casaCasa', 'OrientaciónNorte', 'Mantenimiento0 MXN']"

Split column by ',' character, and check number of columns

In [33]:
#df['Features'].str.split(',', expand=True).shape

We have 16 features, we will split values from Feature column and add them to or dataframe with new names

In [34]:
df[['Total_Area_m^2', 'Built_Area_m^2', 'Bedrooms', 'Bathrooms', 'Parking', 
   'Property_for_sale', 'Age', 'Rooms', 'Storage', 'Number_of_floors', 
   'Type_of_house', 'Orientation', 'Maintenance', 'columnA', 'columnB',
   'columnC']]= df['Features'].str.split(',',expand=True)

Checking  df with new columns

In [35]:
df.head(3)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi...",['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 917 entries, 1 to 1051
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House              917 non-null    object
 1   Price              917 non-null    object
 2   Ubication          917 non-null    object
 3   Features           917 non-null    object
 4   Total_Area_m^2     917 non-null    object
 5   Built_Area_m^2     917 non-null    object
 6   Bedrooms           917 non-null    object
 7   Bathrooms          917 non-null    object
 8   Parking            917 non-null    object
 9   Property_for_sale  917 non-null    object
 10  Age                878 non-null    object
 11  Rooms              870 non-null    object
 12  Storage            866 non-null    object
 13  Number_of_floors   857 non-null    object
 14  Type_of_house      775 non-null    object
 15  Orientation        752 non-null    object
 16  Maintenance        648 non-null    object
 17  columnA            147 non-null    object
 18  columnB            12 non-null     object
 19  columnC            1 non-null      object
dtypes: object(20)
memory usage: 182.7+ KB

In [16]:
# Guardar en un nuevo archivo CSV
df.to_csv('draft1.csv', index=False)

Delete columns Features, columnA, columnB, columnC, Maintenance, Type_of_house

In [37]:
# Identifying values in column '' tat starts with any number
df_number = df[df['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concate nation of the string of two columns
df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

# deleting column '' from the dataframe
df_number = df_number.drop('Built_Area_m^2', axis=1)

# dictionary with the old and new column names
col_names = {'Bedrooms':'Built_Area_m^2',
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnA':'Maintenance'}

# Replacing names in dataframe
df_number = df_number.rename(columns= col_names)


# Guardar en un nuevo archivo CSV
df_number.to_csv('draft2.csv', index=False)

In [38]:
# Identifying values in column '' tat starts with any number
df_number2 = df_number[df_number['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concate nation of the string of two columns
df_number2['Built_Area_m^2']= df_number2['Built_Area_m^2']+df_number2['Bedrooms']

# deleting column '' from the dataframe
df_number2 = df_number2.drop('Bedrooms', axis=1)

# dictionary with the old and new column names
col_names = {
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnB':'Maintenance'}

# Replacing names in dataframe
df_number2 = df_number2.rename(columns= col_names)


# Guardar en un nuevo archivo CSV
df_number2.to_csv('draft3.csv', index=False)

In [39]:
df_total = pd.concat([df,df_number,df_number2], axis=0)

df_total = df_total[~df_total['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]
df_total = df_total[~df_total['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]

In [40]:
df_total = df_total.drop(['Features','columnA', 'columnB', 'columnC', 'Maintenance',
                           'Type_of_house', 'Orientation', 'Property_for_sale','Age',
                           'Rooms','Storage','Number_of_floors'], axis=1)
df_total.info()
# 42800000

<class 'pandas.core.frame.DataFrame'>
Index: 915 entries, 1 to 1022
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   House           915 non-null    object
 1   Price           915 non-null    object
 2   Ubication       915 non-null    object
 3   Total_Area_m^2  915 non-null    object
 4   Built_Area_m^2  915 non-null    object
 5   Bedrooms        915 non-null    object
 6   Bathrooms       915 non-null    object
 7   Parking         915 non-null    object
dtypes: object(8)
memory usage: 64.3+ KB

Editing string for each column

In [ ]:
#df['Total Area'] = df['Total Area'].apply(lambda x:x[18:])

df_total['Total_Area_m^2'] = df_total['Total_Area_m^2'].apply(lambda x:x[18:-4])
df_total['Built_Area_m^2'] = df_total['Built_Area_m^2'].apply(lambda x:x[23:-4])
df_total['Bedrooms'] = df_total['Bedrooms'].apply(lambda x:x[11:-1])
df_total['Bathrooms'] = df_total['Bathrooms'].apply(lambda x:x[7:-1])
df_total['Parking'] = df_total['Parking'].apply(lambda x:x[18:-1])
#df_total['Ubication'] = df_total['Ubication'].apply(lambda x:x[:-26])

df_total.loc[df_total["Ubication"].str.contains("juriquilla", case=False, na=False), "colonia"] = "Juriquilla"

In [ ]:
df_total.loc[df_total["Ubication"].str.contains("refugio", case=False, na=False), "colonia"] = "El Refugio"

In [44]:
df_total.loc[df_total["Ubication"].str.contains("ciudad del sol", case=False, na=False), "colonia"] = "Ciudad Del Sol"

df_total.loc[df_total["Ubication"].str.contains("altozano", case=False, na=False), "colonia"] = "Altozano"

df_total.loc[df_total["Ubication"].str.contains("joya", case=False, na=False), "colonia"] = "La Joya"

df_total.loc[df_total["Ubication"].str.contains("candiles", case=False, na=False), "colonia"] = "Candiles"

df_total.loc[df_total["Ubication"].str.contains("milenio", case=False, na=False), "colonia"] = "Milenio"

df_total.loc[df_total["Ubication"].str.contains("venceremos", case=False, na=False), "colonia"] = "Venceremos"

df_total.loc[df_total["Ubication"].str.contains("la vista", case=False, na=False), "colonia"] = "La Vista Residencial"

df_total.loc[df_total["Ubication"].str.contains("cimatario", case=False, na=False), "colonia"] = "Cumbres del Cimatario"

df_total.loc[df_total["Ubication"].str.contains("pedregal", case=False, na=False), "colonia"] = "Paseos Del Pedregal"

df_total.loc[df_total["Ubication"].str.contains("campanario", case=False, na=False), "colonia"] = "El Campanario"

df_total.loc[df_total["Ubication"].str.contains("zibat", case=False, na=False), "colonia"] = "Zibata"

df_total.loc[df_total["Ubication"].str.contains("marqu", case=False, na=False), "colonia"] = "El Marques"

# Guardar en un nuevo archivo CSV
df_total.to_csv('draft_total.csv', index=False)

Checking values for each column

In [21]:
df['Bathrooms'].value_counts()

Bathrooms
 'Baños2'        272
 'Baños4'        216
 'Baños3'        216
 'Baños5'         98
 'Baños1'         55
 'Recámaras4'     19
 'Recámaras3'     16
 'Baños6'          8
 'Baños0'          3
 'Baños7'          3
 'Recámaras6'      2
870 m²'            2
 'Recámaras5'      2
 'Baños11'         1
437 m²'            1
300 m²'            1
200 m²'            1
229 m²'            1
Name: count, dtype: int64

In [22]:
df['Bedrooms'].value_counts()

Bedrooms
 'Recámaras3'                        497
 'Recámaras4'                        273
 'Recámaras2'                         52
 'Recámaras5'                         37
 'Recámaras6'                          6
 'Recámaras1'                          5
 'Superficie construida600 m²'         3
 'Superficie construida1 m²'           3
 'Superficie construida350 m²'         3
 'Superficie construida1               3
 'Superficie construida759 m²'         2
 'Superficie construida850 m²'         2
 'Superficie construida0 m²'           2
 'Superficie construida501 m²'         1
 'Superficie construida32              1
 'Superficie construida525 m²'         1
 'Superficie construida420 m²'         1
 'Superficie construida453 m²'         1
 'Superficie construida450 m²'         1
 'Superficie construida250 m²'         1
 'Superficie construida762 m²'         1
 'Superficie construida2               1
 'Superficie construida800 m²'         1
 'Superficie construida948 m²'         1
 'Superficie construida442 m²'         1
 'Superficie construida948.36 m²'      1
 'Superficie construida650 m²'         1
248 m²'                                1
 'Superficie construida675 m²'         1
 'Superficie construida346 m²'         1
 'Superficie construida320 m²'         1
 'Superficie construida790 m²'         1
 'Superficie construida900 m²'         1
 'Superficie construida480 m²'         1
 'Superficie construida827 m²'         1
 'Superficie construida899 m²'         1
519 m²'                                1
 'Superficie construida209 m²'         1
 'Recámaras0'                          1
 'Recámaras200'                        1
 'Superficie construida750 m²'         1
 'Superficie construida3               1
Name: count, dtype: int64

####### no util ##### Eliminar columnas: Features, none1, none2 and none3

In [23]:
df.head()

,House,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0'
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...",['Superficie total150 m²','Superficie construida195 m²','Recámaras3','Baños3','Estacionamientos2','Es propiedad en remateNo','Antigüedad18 años','Ambientes4','Bodegas1','Cantidad de pisos2'
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...",['Superficie total400 m²','Superficie construida400 m²','Recámaras5','Baños4','Estacionamientos4','Es propiedad en remateSí','Antigüedad7 años','Ambientes5','Bodegas1','Cantidad de pisos2'

In [24]:
df_number = df[df['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]

In [25]:
#df_number.loc[:, 'new3'] = df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

In [86]:
#df_number=df.copy()
df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

C:\Users\Pc\AppData\Local\Temp\ipykernel_7060\3580634725.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

In [87]:
df_number.head()

,House,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors
143,Impecable Casa Tipo Colonial Con Alberca En Ve...,18950000,"Juriquilla, Querétaro, QuerétaroVer informació...",['Superficie total2200 m²',200 m²','Superficie construida750 m²','Recámaras4','Baños4','Estacionamientos10','Es propiedad en remateNo','Antigüedad0 años','Ambientes9','Bodegas0'
147,Lujosa Y Moderna Casa En Venta Con Recámara En...,42500000,"El Campanario, Querétaro, QuerétaroVer informa...",['Superficie total1500 m²',500 m²','Superficie construida1 m²','Recámaras4','Baños4','Estacionamientos4','Es propiedad en remateNo','Antigüedad13 años','Ambientes9','Bodegas0'
151,Lujosa Y Moderna Casa En Venta Con Recámara En...,42500000,"El Campanario, Querétaro, QuerétaroVer informa...",['Superficie total1500 m²',500 m²','Superficie construida1 m²','Recámaras4','Baños4','Estacionamientos4','Es propiedad en remateNo','Antigüedad13 años','Ambientes9','Bodegas0'
250,Casa En Condominio En Venta En Lomas Del Campa...,59900000,"Avenida Senda Mágica, Milenio III, Querétaro, ...",['Superficie total1281 m²',281 m²','Superficie construida1,870 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad4 años','Ambientes5'
377,Casa Venta Mirador,3100000,"Residencial El Refugio, Querétaro, QuerétaroVe...",['Superficie total1202 m²',202 m²','Superficie construida209 m²','Recámaras3','Baños3','Estacionamientos5','Es propiedad en remateNo','Antigüedad0 años','Ambientes6','Bodegas0'

In [88]:
# Guardar en un nuevo archivo CSV
df_number.to_csv('draft_no.csv', index=False)

In [98]:
# Guardar en un nuevo archivo CSV
df.to_csv('draft.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'producto': ['Manzana', 'Naranja', 'Banana'],
        'precio': [1.5, 0.75, 0.50],
        'stock': [100, 150, 200]}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file named 'frutas.csv'
df.to_csv('frutas.csv')

In [20]:
df.to_csv('frutas.csv')

Editing values from each column

In [22]:
df = df.fillna('[]').infer_objects()
df.head(2)

  producto  precio  stock
0  Manzana    1.50    100
1  Naranja    0.75    150

In [23]:
#df['Total Area'] = df['Total Area'].apply(lambda x:x[18:])
df['Total_Area_m^2'] = df['Total_Area_m^2'].apply(lambda x:x[18:-4])

KeyError: 'Total_Area_m^2'

In [ ]:
df['Total_Area_m^2'] = df['Total_Area_m^2'].apply(lambda x:x[18:-4])
df['Built_Area_m^2'].apply(lambda x:x[23:-4])
df['Bedrooms'].apply(lambda x:x[11:-1])
df['Bathrooms'].apply(lambda x:x[7:-1])
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])
df['Age'].apply(lambda x:x[10:-1])

0
1       314
2         0
3         0
4       195
       ...
1047     75
1048    130
1049     90
1050    442
1051    120
Name: Built_Area_m^2, Length: 987, dtype: object

In [ ]:
df['Bedrooms'].apply(lambda x:x[11:-1])

0
1       4
2       3
3       4
4       3
       ..
1047    2
1048    3
1049    3
1050    4
1051    3
Name: Bedrooms, Length: 987, dtype: object

In [ ]:
df['Bathrooms'].apply(lambda x:x[7:-1])

0
1       5
2       1
3       4
4       3
       ..
1047    1
1048    2
1049    2
1050    5
1051    2
Name: Bathrooms, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])

0
1       2
2       1
3       3
4       2
       ..
1047    1
1048    2
1049    2
1050    0
1051    2
Name: Parking, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])

0
1       No
2       No
3       No
4       No
        ..
1047    No
1048    Sí
1049    Sí
1050    No
1051    Sí
Name: Property_for_sale, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])
df['Age'].apply(lambda x:x[10:-1])

0
1        ad8 años
2        ad0 años
3        ad0 años
4       ad18 años
          ...
1047    ad15 años
1048    ad15 años
1049    ad12 años
1050     ad1 años
1051     ad6 años
Name: Age, Length: 987, dtype: object

In [ ]:
# eliminar
df['Number_of_floors'].apply(lambda x:x[19:-1])

0
1       0
2       2
3       2
4       2
       ..
1047    2
1048    2
1049    2
1050    0
1051    2
Name: Number_of_floors, Length: 987, dtype: object

In [ ]:
df.head()

,House,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors
0,Casa Estilo Californiano En Zona Céntrica A 5m...,5800000,"Colinas Del Parque, Querétaro, QuerétaroVer in...",,[],[],[],[],[],[],[],[],[]
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...",286,'Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0'
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,69,'Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...",370,'Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...",150,'Superficie construida195 m²','Recámaras3','Baños3','Estacionamientos2','Es propiedad en remateNo','Antigüedad18 años','Ambientes4','Bodegas1','Cantidad de pisos2'