In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# reading csv file
df = pd.read_csv('C:/Users/Pc/Documents/Housing_Queretaro/WebscrapingHousing/archive_COMPLETED.csv')
df.head()

,Unnamed: 0,House,Price,Ubication,Features
0,0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

Delete 'Unnamed: 0' column from dataframe

In [3]:
# dropping 'Unnamed: 0' column 
df =df.drop('Unnamed: 0', axis=1)
df.head()

,House,Price,Ubication,Features
0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

# 1.Diagnosis

In [4]:
# checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   House      995 non-null    object
 1   Price      1050 non-null   object
 2   Ubication  987 non-null    object
 3   Features   1054 non-null   object
dtypes: object(4)
memory usage: 33.1+ KB

#### 1.1 Missing values

Delete missing values from House column

In [5]:
df.isna().sum()

House        59
Price         4
Ubication    67
Features      0
dtype: int64

In [6]:
# dropping 55 records without Ubication data
df = df.dropna(subset=['Ubication'])
df.isna().sum()

House        0
Price        0
Ubication    0
Features     0
dtype: int64

In [7]:
# dropping 70 records without Features data
df = df[~df['Features'].isin(["[]","['no disponible', 'no disponible']"])]

### 1.2 Types of data that we have in df
Price column should be integer type, but data format is "5,650,000" we need delete "," character

In [8]:
# deleting ',' and '.' symbols from records in colun Price
df.loc[:, 'Price'] = df['Price'].str.replace(',', '')
df.loc[:, 'Price'] = df['Price'].str.replace('.', '')
df.head()

,House,Price,Ubication,Features
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru..."

1.3 "Feature" column has differente features, checking one example

In [9]:
# slice column Features and row 1
df['Features'][1]

"['Superficie total286 m²', 'Superficie construida314 m²', 'Recámaras4', 'Baños5', 'Estacionamientos2', 'Es propiedad en remateNo', 'Antigüedad8 años', 'Ambientes10', 'Bodegas0', 'Cantidad de pisos0', 'Tipo de casaCasa', 'OrientaciónNorte', 'Mantenimiento0 MXN']"

Split column by ',' character, and check number of columns

On Feature column, we will split it using ',' symbol, and create a new column for each feature.

In [10]:
# spliting Feature column
df[['Total_Area_m^2', 'Built_Area_m^2', 'Bedrooms', 'Bathrooms', 'Parking', 
   'Property_for_sale', 'Age', 'Rooms', 'Storage', 'Number_of_floors', 
   'Type_of_house', 'Orientation', 'Maintenance', 'columnA', 'columnB',
   'columnC']]= df['Features'].str.split(',',expand=True)

Checking  df with new columns

In [11]:
# checking first three rows
df.head(3)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi...",['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None

In [12]:
# checking new columns and missing values 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 917 entries, 1 to 1051
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House              917 non-null    object
 1   Price              917 non-null    object
 2   Ubication          917 non-null    object
 3   Features           917 non-null    object
 4   Total_Area_m^2     917 non-null    object
 5   Built_Area_m^2     917 non-null    object
 6   Bedrooms           917 non-null    object
 7   Bathrooms          917 non-null    object
 8   Parking            917 non-null    object
 9   Property_for_sale  917 non-null    object
 10  Age                878 non-null    object
 11  Rooms              870 non-null    object
 12  Storage            866 non-null    object
 13  Number_of_floors   857 non-null    object
 14  Type_of_house      775 non-null    object
 15  Orientation        752 non-null    object
 16  Maintenance        648 non-null    object
 17  columnA            147 non-null    object
 18  columnB            12 non-null     object
 19  columnC            1 non-null      object
dtypes: object(20)
memory usage: 182.7+ KB


We identified in some examples the land dimensions were grerater than 1,000 m^2,
and as they had a comma, they were split into two columns example: A record with "1,360 m^2" was splited in two columns "1" and "360 m^2"

We need to fix this issue.

In [15]:
# Identifying values in column 'Built_Area_m^2' that starts with any number
df_number = df[df['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concatenation of the strings of two columns
df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

# deleting column 'Built_Area_m^2' from the dataframe
df_number = df_number.drop('Built_Area_m^2', axis=1)

# renaming columns using a dictionary with the old and new column names
col_names = {'Bedrooms':'Built_Area_m^2',
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnA':'Maintenance'}

# Replacing names in dataframe
df_number = df_number.rename(columns= col_names)

# checking shape of new df_number
print(df_number.shape)

(43, 19)

In [16]:
# Identifying values in column 'Bedrooms' that starts with any number in df_number
df_number2 = df_number[df_number['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concatenation of the strings of two columns
df_number2['Built_Area_m^2']= df_number2['Built_Area_m^2']+df_number2['Bedrooms']

# deleting column 'Bedrooms' from the dataframe
df_number2 = df_number2.drop('Bedrooms', axis=1)

# dictionary with the old and new column names
col_names = {
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnB':'Maintenance'}

# Replacing names in a new dataframe with its values in the correct column
df_number2 = df_number2.rename(columns= col_names)

# checking records
df_number2.head(2)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnC
250,Casa En Condominio En Venta En Lomas Del Campa...,59900000,"Avenida Senda Mágica, Milenio III, Querétaro, ...","['Superficie total1,281 m²', 'Superficie const...",['Superficie total1281 m²','Superficie construida1870 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad4 años','Ambientes5','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte'],None,None
723,"Casa En Venta En Milenio, Nuevecita Con Roof Y...",59900000,"Milenio III, Querétaro, QuerétaroVer informaci...","['Superficie total1,281 m²', 'Superficie const...",['Superficie total1281 m²','Superficie construida1870 m²','Recámaras4','Baños4','Estacionamientos3','Propiedad en remateNo','Antigüedad3 años','Ambientes11','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None

In [17]:
# concatenation of all the dataframes
df_total = pd.concat([df,df_number,df_number2], axis=0)

# deleting all the records from columns 'Built_Area_m^2' and 'Bedrooms' where data starts with a number
df_total = df_total[~df_total['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]
df_total = df_total[~df_total['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]

In [18]:
# see first three values
df_total.head(3)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi...",['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None

We only need numbers in each column, it's not necessary the description. 

So we need to edit the size of the string for each column

In [19]:
# slicing the strings for:

# 'Total_Area_m^2' column
df_total['Total_Area_m^2'] = df_total['Total_Area_m^2'].apply(lambda x:x[18:-4])
# 'Built_Area_m^2' column
df_total['Built_Area_m^2'] = df_total['Built_Area_m^2'].apply(lambda x:x[23:-4])
# 'Bedrooms' column
df_total['Bedrooms'] = df_total['Bedrooms'].apply(lambda x:x[11:-1])
# 'Bathrooms' column
df_total['Bathrooms'] = df_total['Bathrooms'].apply(lambda x:x[7:-1])
# 'Parking' column
df_total['Parking'] = df_total['Parking'].apply(lambda x:x[18:-1])
# in 'Ubication' column delete string
df_total['Ubication'] = df_total['Ubication'].str.replace('Santiago De Querétaro','',regex=False)
# in 'Ubication' column delete string
df_total['Ubication'] = df_total['Ubication'].str.replace(', Querétaro, QuerétaroVer información de la zona','',regex=False)


# checking df we should have only numbers in columns
df_total.head()

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,Juriquilla,"['Superficie total286 m²', 'Superficie constru...",286,314,4,5,2,'Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del Sol,"['Superficie total69 m²', 'Superficie construi...",69,0,3,1,1,'Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,Casa En Venta En Altozano,"['Superficie total370 m²', 'Superficie constru...",370,0,4,4,3,'Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya","['Superficie total150 m²', 'Superficie constru...",150,195,3,3,2,'Es propiedad en remateNo','Antigüedad18 años','Ambientes4','Bodegas1','Cantidad de pisos2','Tipo de casaCasa','OrientaciónPoniente','Mantenimiento1 MXN'],None,None,None
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru...",400,400,5,4,4,'Es propiedad en remateSí','Antigüedad7 años','Ambientes5','Bodegas1','Cantidad de pisos2','Tipo de casaCasa','OrientaciónPoniente','Mantenimiento1,000 MXN'],None,None

In [20]:
# removing letters with accents, they are not require
acents = {'Á':'A','á':'a','é':'e','í':'i','ó':'o','ú':'u'}
for k,i in acents.items():
    df_total['Ubication'] = df_total['Ubication'].str.replace(k,i,regex=False)

In [21]:
# openning txt file with neighborhoods
with open("neighborhoods_list.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()

# creating a list cleaning commas, quatations and line breaks
neighborhoods_list = [line.strip().strip(",").strip("'").strip('"') for line in lines]

In [22]:
# loop to place a neighborhood er record
for i in neighborhoods_list:
    df_total.loc[df_total["Ubication"].str.contains(i, case=False, na=False, regex=False), "Neighborhood"] = i

In [23]:
# setting neighborhoods to special records
df_total.iloc[471,7] = 'EL REFUGIO'
df_total.iloc[777,7] = 'MILENIO III'

In [24]:
# Deleting 31 records because they are not from Queretaro municipio
df_total = df_total[df_total['Neighborhood']!='']

In [25]:
# converting data from some columnst into float data type
float_columns = ['Price','Total_Area_m^2','Built_Area_m^2','Bedrooms','Bathrooms','Parking']

for i in float_columns:
    df_total[i] = df_total[i].astype('float')

In [26]:
# checking values and data type
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864 entries, 1 to 908
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House              864 non-null    object
 1   Price              864 non-null    float64
 2   Ubication          864 non-null    object
 3   Features           864 non-null    object
 4   Total_Area_m^2     864 non-null    float64
 5   Built_Area_m^2     864 non-null    float64
 6   Bedrooms           864 non-null    float64
 7   Bathrooms          864 non-null    float64
 8   Parking            864 non-null    float64
 9   Property_for_sale  864 non-null    object
 10  Age                826 non-null    object
 11  Rooms              819 non-null    object
 12  Storage            817 non-null    object
 13  Number_of_floors   811 non-null    object
 14  Type_of_house      727 non-null    object
 15  Orientation        712 non-null    object
 16  Maintenance        621 non-null    object
 17  columnA            107 non-null    object
 18  columnB            7 non-null      object
 19  columnC            1 non-null      object
 20  Neighborhood       864 non-null    object
dtypes: float64(6), object(15)
memory usage: 148.5+ KB

In [ ]:
# In some records the total area of the property is smaller than the built area, thats imposible, this should be a manual error so we have to switch these values for these records

# condition Build area has to me smaller than Total area
condicion = df_total['Built_Area_m^2'] < df_total['Total_Area_m^2']

# if there is an issue (True), take the value of 'Total_Area_m^2'; if not (False), take the value of 'Built_Area_m^2'.
total_A = np.where(condicion, df_total['Total_Area_m^2'], df_total['Built_Area_m^2'])

# if there is an issue (True), take the value of 'Built_Area_m^2'; if not (False), take the value of 'Total_Area_m^2'.
build_A = np.where(condicion, df_total['Built_Area_m^2'], df_total['Total_Area_m^2'])

# Asignar los nuevos valores
df_total['Total_Area_m^2'] = total_A
df_total['Built_Area_m^2'] = build_A

We detected some columns where missing values are more than 50%, we will delete them

In [28]:
# deleting Columns
df_total = df_total.drop(['House','Features','columnA', 'columnB', 'columnC', 'Maintenance',
                           'Type_of_house', 'Orientation', 'Property_for_sale','Age',
                           'Rooms','Storage','Number_of_floors','Ubication'], axis=1)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864 entries, 1 to 908
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           864 non-null    float64
 1   Total_Area_m^2  864 non-null    float64
 2   Built_Area_m^2  864 non-null    float64
 3   Bedrooms        864 non-null    float64
 4   Bathrooms       864 non-null    float64
 5   Parking         864 non-null    float64
 6   Neighborhood    864 non-null    object
dtypes: float64(6), object(1)
memory usage: 54.0+ KB

In [29]:
# creating a CSV file
df_total.to_csv('total_houses.csv', index=False)