In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# reading csv file
df = pd.read_csv('C:/Users/Pc/Documents/Housing_Queretaro/WebscrapingHousing/archive_COMPLETED.csv')
df.head()

,Unnamed: 0,House,Price,Ubication,Features
0,0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

Delete 'Unnamed: 0' column from dataframe

In [3]:
# dropping 'Unnamed: 0' column 
df =df.drop('Unnamed: 0', axis=1)
df.head()

,House,Price,Ubication,Features
0,Casa Estilo Californiano En Zona Céntrica A 5m...,"5,800,000","Colinas Del Parque, Querétaro, QuerétaroVer in...",[]
1,Casa Minimalista En Venta,"5,650,000","Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,"1,595,000",Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,"11,190,000","Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,"790,000","Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."

# 1.Diagnosis

In [4]:
# checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   House      995 non-null    object
 1   Price      1050 non-null   object
 2   Ubication  987 non-null    object
 3   Features   1054 non-null   object
dtypes: object(4)
memory usage: 33.1+ KB

#### 1.1 Missing values

Delete missing values from House column

In [5]:
df.isna().sum()

House        59
Price         4
Ubication    67
Features      0
dtype: int64

In [6]:
# dropping 55 records without Ubication data
df = df.dropna(subset=['Ubication'])
df.isna().sum()

House        0
Price        0
Ubication    0
Features     0
dtype: int64

In [7]:
# dropping 70 records without Features data
df = df[~df['Features'].isin(["[]","['no disponible', 'no disponible']"])]

### 1.2 Types of data that we have in df
Price column should be integer type, but data format is "5,650,000" we need delete "," character

In [8]:
# deleting ',' and '.' symbols from records in colun Price
df.loc[:, 'Price'] = df['Price'].str.replace(',', '')
df.loc[:, 'Price'] = df['Price'].str.replace('.', '')
df.head()

,House,Price,Ubication,Features
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru..."
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi..."
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru..."
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru..."
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru..."

1.3 "Feature" column has differente features, checking one example

In [9]:
# slice column Features and row 1
df['Features'][1]

"['Superficie total286 m²', 'Superficie construida314 m²', 'Recámaras4', 'Baños5', 'Estacionamientos2', 'Es propiedad en remateNo', 'Antigüedad8 años', 'Ambientes10', 'Bodegas0', 'Cantidad de pisos0', 'Tipo de casaCasa', 'OrientaciónNorte', 'Mantenimiento0 MXN']"

Split column by ',' character, and check number of columns

On Feature column, we will split it using ',' symbol, and create a new column for each feature.

In [10]:
# spliting Feature column
df[['Total_Area_m^2', 'Built_Area_m^2', 'Bedrooms', 'Bathrooms', 'Parking', 
   'Property_for_sale', 'Age', 'Rooms', 'Storage', 'Number_of_floors', 
   'Type_of_house', 'Orientation', 'Maintenance', 'columnA', 'columnB',
   'columnC']]= df['Features'].str.split(',',expand=True)

Checking  df with new columns

In [11]:
# checking first three rows
df.head(3)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi...",['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None

In [12]:
# checking new columns and missing values 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 917 entries, 1 to 1051
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House              917 non-null    object
 1   Price              917 non-null    object
 2   Ubication          917 non-null    object
 3   Features           917 non-null    object
 4   Total_Area_m^2     917 non-null    object
 5   Built_Area_m^2     917 non-null    object
 6   Bedrooms           917 non-null    object
 7   Bathrooms          917 non-null    object
 8   Parking            917 non-null    object
 9   Property_for_sale  917 non-null    object
 10  Age                878 non-null    object
 11  Rooms              870 non-null    object
 12  Storage            866 non-null    object
 13  Number_of_floors   857 non-null    object
 14  Type_of_house      775 non-null    object
 15  Orientation        752 non-null    object
 16  Maintenance        648 non-null    object
 17  columnA            147 non-null    object
 18  columnB            12 non-null     object
 19  columnC            1 non-null      object
dtypes: object(20)
memory usage: 182.7+ KB

In [13]:
df.to_csv('draft_raw.csv', index=False)

In [14]:
df.iloc[404:406]

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
465,Nueva A Estrenar,12750000,"Campanario De Lourdes, El Campanario, Querétar...","['Superficie total316 m²', 'Superficie constru...",['Superficie total316 m²','Superficie construida358 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad1 años','Ambientes8','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
466,"Casa En Venta En El Campanario, Querétaro",21760000,"Av Campanario, El Campanario, Querétaro, Queré...","['Superficie total1,360 m²', 'Superficie const...",['Superficie total1,360 m²','Superficie construida480 m²','Recámaras4','Baños4','Estacionamientos0','Es propiedad en remateNo','Antigüedad15 años','Ambientes0','Bodegas0','Cantidad de pisos0','Tipo de casaDúplex','OrientaciónNorte','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None


We identified in some examples the land dimensions were grerater than 1,000 m^2,
and as they had a comma, they were split into two columns example: A record with "1,360 m^2" was splited in two columns "1" and "360 m^2"

We need to fix this issue.

In [15]:
# Identifying values in column 'Built_Area_m^2' that starts with any number
df_number = df[df['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concatenation of the strings of two columns
df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

# deleting column 'Built_Area_m^2' from the dataframe
df_number = df_number.drop('Built_Area_m^2', axis=1)

# renaming columns using a dictionary with the old and new column names
col_names = {'Bedrooms':'Built_Area_m^2',
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnA':'Maintenance'}

# Replacing names in dataframe
df_number = df_number.rename(columns= col_names)

# checking shape of new df_number
print(df_number.shape)

(43, 19)

In [16]:
# Identifying values in column 'Bedrooms' that starts with any number in df_number
df_number2 = df_number[df_number['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')].copy()

# concatenation of the strings of two columns
df_number2['Built_Area_m^2']= df_number2['Built_Area_m^2']+df_number2['Bedrooms']

# deleting column 'Bedrooms' from the dataframe
df_number2 = df_number2.drop('Bedrooms', axis=1)

# dictionary with the old and new column names
col_names = {
'Bathrooms':'Bedrooms',
'Parking':'Bathrooms',
'Property_for_sale':'Parking',
'Age':'Property_for_sale',
'Rooms':'Age',
'Storage':'Rooms',
'Number_of_floors':'Storage',
'Type_of_house':'Number_of_floors',
'Orientation':'Type_of_house',
'Maintenance':'Orientation',
'columnB':'Maintenance'}

# Replacing names in a new dataframe with its values in the correct coñumn
df_number2 = df_number2.rename(columns= col_names)

# checking records
df_number2.head(2)

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnC
250,Casa En Condominio En Venta En Lomas Del Campa...,59900000,"Avenida Senda Mágica, Milenio III, Querétaro, ...","['Superficie total1,281 m²', 'Superficie const...",['Superficie total1281 m²','Superficie construida1870 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad4 años','Ambientes5','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte'],None,None
723,"Casa En Venta En Milenio, Nuevecita Con Roof Y...",59900000,"Milenio III, Querétaro, QuerétaroVer informaci...","['Superficie total1,281 m²', 'Superficie const...",['Superficie total1281 m²','Superficie construida1870 m²','Recámaras4','Baños4','Estacionamientos3','Propiedad en remateNo','Antigüedad3 años','Ambientes11','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None

In [17]:
# concatenation of all the dataframes
df_total = pd.concat([df,df_number,df_number2], axis=0)

# deleting all the records from columns 'Built_Area_m^2' and 'Bedrooms' where data starts with a number
df_total = df_total[~df_total['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]
df_total = df_total[~df_total['Bedrooms'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]

We detected some columns where missing values are more than 50%, we will delete them

In [18]:
# deleting Columns
df_total = df_total.drop(['House','Features','columnA', 'columnB', 'columnC', 'Maintenance',
                           'Type_of_house', 'Orientation', 'Property_for_sale','Age',
                           'Rooms','Storage','Number_of_floors'], axis=1)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 915 entries, 1 to 1022
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           915 non-null    object
 1   Ubication       915 non-null    object
 2   Total_Area_m^2  915 non-null    object
 3   Built_Area_m^2  915 non-null    object
 4   Bedrooms        915 non-null    object
 5   Bathrooms       915 non-null    object
 6   Parking         915 non-null    object
dtypes: object(7)
memory usage: 57.2+ KB

In [19]:
df_total.head(3)

,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking
1,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2'
2,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1'
3,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3'

We only need numbers in each column, it's not necessary the description. 

So we need to edit the size of the string for each column

In [20]:
# slicing the strings for:

# 'Total_Area_m^2' column
df_total['Total_Area_m^2'] = df_total['Total_Area_m^2'].apply(lambda x:x[18:-4])
# 'Built_Area_m^2' column
df_total['Built_Area_m^2'] = df_total['Built_Area_m^2'].apply(lambda x:x[23:-4])
# 'Bedrooms' column
df_total['Bedrooms'] = df_total['Bedrooms'].apply(lambda x:x[11:-1])
# 'Bathrooms' column
df_total['Bathrooms'] = df_total['Bathrooms'].apply(lambda x:x[7:-1])
# 'Parking' column
df_total['Parking'] = df_total['Parking'].apply(lambda x:x[18:-1])
# 'Ubication' column
df_total['Ubication'] = df_total['Ubication'].str.replace('Santiago De Querétaro','',regex=False)
# 'Ubication' column
df_total['Ubication'] = df_total['Ubication'].str.replace(', Querétaro, QuerétaroVer información de la zona','',regex=False)


# checking df
df_total.head()

,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking
1,5650000,Juriquilla,286,314,4,5,2
2,1595000,Casa En Venta En Las Haciendas En Ciudad Del Sol,69,0,3,1,1
3,11190000,Casa En Venta En Altozano,370,0,4,4,3
4,790000,"Blvd. Dolores Del Río, La Joya",150,195,3,3,2
5,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...",400,400,5,4,4

In [21]:
# removing letters with accents, they are not require
acents = {'Á':'A','á':'a','é':'e','í':'i','ó':'o','ú':'u'}
for k,i in acents.items():
    df_total['Ubication'] = df_total['Ubication'].str.replace(k,i,regex=False)

In [ ]:
a =[
    'FELIPE CARRILLO PUERTO'
    '10 DE ABRIL',
    'SANTIAGO',
 '12 DE DICIEMBRE',
 '15 DE MAYO',
 '2 DE ABRIL',
 '25 DE DICIEMBRE',
 '5 DE FEBRERO',
 '8 DE DICIEMBRE',
 'ACEQUIA BLANCA',
 'ALAMEDA',
 'ALAMOS 1',
 'ALAMOS 2',
 'ALAMOS 3',
 'ALBORADA',
 'ALTAVISTA JURIQUILLA',
 'ALTOS DE SAN PABLO',
 'ALTOS DEL CIMATARIO',
 'ALTOS DEL MARQUES 1 Y 2 ETAPA',
 'ALTOZANO',
 'AMALIA SOLORZANO',
 'AMPLIACION AMALIA SOLORZANO',
 'AMPLIACION PATRIA NUEVA',
 'AMPLIACION SATELITE',
 'AMPOLLETAS',
 'ANAHUAC',
 'ANDALUCIA SECCION CORDOVA',
 'ANEXO A LA ECOLOGIA',
 'ANEXO EJIDO BOLAÑOS',
 'ANGELES',
 'ANTORCHISTA',
 'ARAGON',
 'ARBOLEDAS',
 'ARBOLEDAS DEL PARQUE',
 'ARBOLEDAS DEL RIO',
 'ARCO DE PIEDRA',
 'ARQUITOS',
 'ARTE MEXICANO',
 'ASALIAS',
 'ATENAS',
 'AZTECA',
 'BALAUSTRADAS',
 'BALCON CAMPESTRE',
 'BALCONES COLONIALES',
 'BALCONES DE JURIQUILLA',
 'BALCONES DE SAN PABLO',
 'BALCONES DEL ACUEDUCTO',
 'BELLAVISTA',
 'BELLAVISTA RESIDENCIAL',
 'BENITO JUAREZ',
 'BLEU CASAS PLATINA',
 'BOLAÑOS',
 'BOSQUES DE BELLA VISTA',
 'BOSQUES DE BUENAVISTA',
 'BOSQUES DE ITURBIDE',
 'BOSQUES DE LA HACIENDA',
 'BOSQUES DE LAS LOMAS',
 'BOSQUES DE QUERETARO',
 'BOSQUES DEL ACUEDUCTO',
 'BOSQUES DEL CIMATARIO',
 'BOSQUES DEL CIMATARIO 1A SECCION',
 'BOSQUES DEL CIMATARIO 2A SECCION',
 'BOSQUES DEL CIMATARIO 2A. SECCION',
 'BOSQUES DEL SOL',
 'BUENAVISTA',
 'BUENOS AIRES',
 'BUGAMBILIAS',
 'BUGAMBILIAS RESIDENCIAL',
 'C.E.A.',
 'CALESA',
 'CALESA 2A SECCION',
 'CALETTO',
 'CAMPESTRE ECOLOGICO LA RICA',
 'CAMPESTRE HUERTAS LA JOYA',
 'CAMPESTRE ITALIANA',
 'CAMPESTRE JURIQUILLA',
 'CAMPI',
 'CAMPO REAL',
 'CAROLINA',
 'CARRETAS',
 'CARRILLO',
 'CASA BLANCA',
 'CAÑADA DE LA MONJA',
 'CEDROS ALCATRACES',
 'CEDROS TILIPANES',
 'CENTENARIO',
 'CENTRO',
 'CENTRO SCT QUERETARO',
 'CENTRO SUR',
 'CENTRO UNIVERSITARIO (U.A.Q.)',
 'CERESO DEL ESTADO',
 'CERRITO COLORADO',
 'CERRITO COLORADO 2A SECC',
 'CERRITO COLORADO III',
 'CERRITO COLORADO IV',
 'CERRITO COLORADO V',
 'CERRITO COLORADO VI',
 'CERRITO COLORADO VII',
 'CERRO COLORADO (EL COLORADO)',
 'CERRO DE LA CRUZ',
 'CERRO PRIETO',
 'CHARAPE DE LA JOYA',
 'CHE GUEVARA (AXAYACATL)',
 'CHULA VISTA I',
 'CHULA VISTA II',
 'CIMATARIO',
 'CINCO HALCONES',
 'CIPRESES',
 'CIUDAD DEL SOL',
 'CIUDAD DEL SOL SECCION VALLE DE SANTIAGO',
 'CLAUSTROS DE LA CATEDRAL',
 'CLAUSTROS DE LA CORREGIDORA 2',
 'CLAUSTROS DE LA CORREGIDORA I',
 'CLAUSTROS DE LA LOMA',
 'CLAUSTROS DE LAS MISIONES',
 'CLAUSTROS DE SANTIAGO',
 'CLAUSTROS DEL CAMPESTRE',
 'CLAUSTROS DEL MARQUES',
 'CLAUSTROS DEL PARQUE',
 'CLAUSTROS DEL SUR',
 'CLAUTROS DEL CAMPESTRE',
 'CLUB CAMPESTRE',
 'COLIBRI',
 'COLINAS DE JURIQUILLA',
 'COLINAS DE MENCHACA',
 'COLINAS DE MENCHACA 2A SECCION',
 'COLINAS DE SAN PABLO',
 'COLINAS DE SANTA CRUZ 1A SECCION',
 'COLINAS DE SANTA CRUZ 2A SECCION',
 'COLINAS DE SANTA ROSA',
 'COLINAS DEL CIMATARIO',
 'COLINAS DEL PARQUE',
 'COLINAS DEL PONIENTE',
 'COLINAS DEL SUR',
 'COMERCIANTES',
 'COMEVI',
 'CONDOMINIO LA CORDILLERA',
 'CONJUNTO BELEN',
 'CONJUNTO PARQUES',
 'CONJUNTO QUERETARO',
 'CONJUNTO SEMINARIO',
 'CONJUNTO TERRANOVA',
 'CONQUISTADORES',
 'CONSTELACION',
 'CONSTITUYENTES',
 'CONSTITUYENTES DE 1824',
 'CONSTITUYENTES FOVISSSTE',
 'CONTINENTAL',
 'COREA',
 'CORREGIDORA',
 'CORREGIDORA (BUROCRATA)',
 'COSMOS (SATELITE)',
 'CRUZ DE FUEGO',
 'CUADRILLA JURIQUILLA',
 'CUAUHTEMOC',
 'CUESTA AZUL',
 'CUESTA BONITA',
 'CUITLAHUAC',
 'CUMBRES DEL LAGO',
 'CUMBRES DEL MIRADOR',
 'DEL RIO',
 'DEL VALLE',
 'DEMETRIO VALLEJO',
 'DEPARTAMENTAL PARQUES',
 'DESARROLLO FAMILIAR',
 'DESARROLLO SAN ANGEL',
 'DESARROLLO SAN PABLO',
 'DESARROLLO SAN PABLO I',
 'DESARROLLO SAN PABLO II',
 'DIANA LAURA ROJAS',
 'DILIGENCIAS',
 'DOLCE TERRA',
 'DON MANUEL',
 'EDUARDO LOARCA',
 'EDUARDO LOARCA CASTILLO',
 'EJIDO MENCHACA (LOS PINOS)',
 'EJIDO MODELO',
 'EL ARCANGEL',
 'EL ARCANGEL (LA GUAYINA)',
 'EL ARCO',
 'EL BORDO',
 'EL BOSQUE',
 'EL CAMINO',
 'EL CAMPANARIO',
 'EL CARRIZAL',
 'EL CERRITO',
 'EL CHAMIZAL',
 'EL CORTIJO',
 'EL CORTIJO II',
 'EL DESTINO',
 'EL FENIX',
 'EL ENSUEÑO'
 'EL GARAMBULLO',
 'EL HERRERO',
 'EL HIGO',
 'EL JACAL',
 'EL JARDIN',
 'EL LAUREL',
 'EL LIMONAR',
 'EL MADROÑO',
 'EL MARQUES',
 'EL MARQUES QUERETANO',
 'EL MIRADOR',
 'EL NABO',
 'EL OASIS',
 'EL PARAISO',
 'EL PARQUE',
 'EL PATOL',
 'EL PEDREGAL',
 'EL PEDREGAL DE QUERETARO',
 'EL PIE',
 'EL PORVENIR',
 'EL PRADO',
 'EL PROGRESO',
 'EL PUERTECITO',
 'EL RASPIÑO',
 'EL RETABLO',
 'EL RETIRO',
 'EL RINCON',
 'EL RINCON DE OJO DE AGUA',
 'EL ROCIO',
 'EL ROCIO II',
 'EL ROMERILLAL',
 'EL ROSARIO',
 'EL SALITRE',
 'EL SALVADOR',
 'EL SILLAR',
 'EL TEPETATE',
 'EL TEPEYAC',
 'EL TINTERO',
 'EL TRANSITO',
 'EL VERGEL',
 'EL VERGEL FASE I',
 'EL VERGEL FASE II',
 'EL VERGEL FASE III',
 'EL VERGEL FASE IV',
 'EL VERGEL FASE V',
 'EL VERGEL FASE VI',
 'EL VERGEL FASE VII',
 'EL ZAPOTE',
 'EMILIANO ZAPATA',
 'ENRIQUE BURGOS (LA RINCONADA)',
 'EPIGMENIO GONZALEZ',
 'EPIGMENIO GONZALEZ (EL OASIS)',
 'ESTANCIA DE LA ROCHERA',
 'ESTRELLA',
 'EUCALIPTOS',
 'EUCALIPTOS I',
 'EUCALIPTOS II',
 'EUCALIPTOS III',
 'EURIPIDES',
 'EX-HACIENDA EL TINTERO',
 'EX-HACIENDA SANTANA',
 'FELIPE ANGELES',
 'FELIPE CARRILLO PUERTO',
 'FERNANDO DE TAPIA',
 'FERROCARRILES SECCION RINCONADA SANTA\nANITA',
 'FIDEL VELAZQUEZ SANCHEZ',
 'FRACCION EJIDO EL RETABLO',
 'FRANCISCO JAVIER MINA',
 'FRANCISCO VILLA',
 'FRANCISCO VILLA I',
 'FRANCISCO VILLA II',
 'FRATERNIDAD DE SANTIAGO',
 'FRAY JUNIPERO SERRA',
 'FRESNOS CONDOMINIO 2',
 'FRESNOS CONDOMINIO 3',
 'FRESNOS CONDOMINIO 4',
 'FRIDA KAHLO',
 'FUENTES RESIDENCIAL',
 'FUNDADORES',
 'GALINDAS RESIDENCIAL',
 'GEMINIS',
 'GENERACION 2000',
 'GEO PLAZAS',
 'GEO VILLAS',
 'GOBERNANTES',
 'GOYENECHE',
 'GUADALUPE (LA LAGRIMA)',
 'GUADALUPE VICTORIA (SAHOP)',
 'HACIENDA GALINDO',
 'HACIENDA MOMPANI',
 'HACIENDA SAN MIGUEL',
 'HACIENDA SAN PEDRO',
 'HACIENDA SANTA ROSA',
 'HERCULES',
 'HIDALGO',
 'HUERTAS DEL CIMATARIO',
 'IGNACIO PEREZ',
 'IGNACIO ZARAGOZA',
 'INDEPENDENCIA',
 'INDEPENDENCIA (SAN JOSE EL ALTO)',
 'INDUSTRIAL',
 'INDUSTRIAL LA MONTAÑA',
 'INSURGENTES',
 'JACARANDAS',
 'JARDINES DE ALBORADA',
 'JARDINES DE AZUCENAS',
 'JARDINES DE HERCULES',
 'JARDINES DE JURICA',
 'JARDINES DE LA HACIENDA',
 'JARDINES DE QUERETARO',
 'JARDINES DE SAN JOSE',
 'JARDINES DE SAN JOSE 1A. Y 2A. SECCION',
 'JARDINES DE SAN JOSE 2A. SECCION',
 'JARDINES DE SAN JOSE 3A. SECCION',
 'JARDINES DE SANTIAGO',
 'JARDINES DE VILLAS DE SANTIAGO',
 'JARDINES DEL BOSQUE',
 'JARDINES DEL CIMATARIO',
 'JARDINES DEL SOL',
 'JARDINES DEL VALLE',
 'JOFRE',
 'JOFRITO',
 'JOSE MARIA ARTEAGA',
 'JOSE MARIA BUSTAMANTE',
 'JOSEFA ORTIZ DE DOMINGUEZ II',
 'JOSEFA ORTIZ DE DOMINGUEZ III',
 'JOSEFA ORTIZ DE DOMINGUEZ IV',
 'JURICA',
 'JURICA ACUEDUCTO',
 'JURICA LA SOLANA',
 'JURICA MISIONES',
 'JURICA PINAR',
 'JURICA TOLIMAN',
 'JURIQUILLA',
 'JURIQUILLA PRIVADA',
 'JURIQUILLA SANTA FE',
 'KARINA',
 'LA ALHAMBRA',
 'LA AURORA',
 'LA BARRETA',
 'LA CAMPANA',
 'LA CANTERA',
 'LA CAPILLA',
 'LA CARAMBADA',
 'LA CARBONERA',
 'LA CASTELLANA',
 'LA CAÑADA JURIQUILLA',
 'LA CIENEGA',
 'LA CIMA',
 'LA COLMENA',
 'LA CONDESA',
 'LA CRUZ',
 'LA ERA',
 'LA ESMERALDA',
 'LA ESPERANZA',
 'LA ESTACADA',
 'LA ESTACION',
 'LA ESTACION 2A. SECCION',
 'LA ESTACION F.F.C.C.',
 'LA ESTANCIA PALO DULCE',
 'LA FLORESTA',
 'LA FLORIDA',
 'LA GLORIA',
 'LA GOTERA',
 'LA GRANJA',
 'LA GUADALUPANA',
 'LA HIGUERA',
 'LA JOYA',
 'LA LADERA',
 'LA LADERA (MENCHACA III)',
 'LA LAGUNA',
 'LA LOMA',
 'LA LUNA',
 'LA MESITA DE ABAJO',
 'LA MONJA',
 'LA NOPALERA',
 'LA PALMA',
 'LA PASTORA',
 'LA PEÑA',
 'LA PEÑITA',
 'LA PIEDAD',
 'LA POPULAR',
 'LA PUERTA DE SANTIAGUILLO',
 'LA PURISIMA',
 'LA REJA',
 'LA RUECA',
 'LA SANDIA',
 'LA SIERRITA',
 'LA SOLANA',
 'LA TINAJA',
 'LA TINAJA DE LA ESTANCIA',
 'LA TOSCANA',
 'LA TRINIDAD',
 'LA UNION',
 'LA VERSOLILLA',
 'LA VISTA RESIDENCIAL',
 'LADERA DE SAN JOSE EL ALTO ORIENTE',
 'LADERAS DE SAN PEDRO',
 'LAS AGUILAS',
 'LAS AMERICAS',
 'LAS AMERICAS SAN PABLO',
 'LAS AZUCENAS',
 'LAS BRUJAS',
 'LAS CAMELINAS',
 'LAS CAMPANAS',
 'LAS FLORES',
 'LAS FUENTES',
 'LAS GEMAS',
 'LAS HADAS',
 'LAS JOSEFINAS',
 'LAS LAJITAS',
 'LAS MARIPOSAS',
 'LAS MISIONES',
 'LAS PALMAS',
 'LAS PALOMAS',
 'LAS PEÑAS',
 'LAS PEÑITAS',
 'LAS PLAZAS',
 'LAS ROSAS',
 'LAS TERESAS',
 'LAS TORRES',
 'LATINOAMERICANA',
 'LAZARO CARDENAS',
 'LAZARO CARDENAS III',
 'LEYES DE REFORMA',
 'LIBERTAD',
 'LIBERTADORES',
 'LIBERTADORES DE AMERICA',
 'LIC. ALFREDO ESTRADA ROMERO',
 'LINDAVISTA',
 'LINDEROS DEL CIMATARIO',
 'LLANO DE LA ROCHERA',
 'LOMA BONITA',
 'LOMA BONITA 2A. SECCION',
 'LOMA DEL CHINO',
 'LOMA DORADA',
 'LOMA IX',
 'LOMA JURIQUILLA',
 'LOMA LINDA',
 'LOMA REAL',
 'LOMAS DE CASA BLANCA',
 'LOMAS DE JURIQUILLA',
 'LOMAS DE LINDAVISTA',
 'LOMAS DE MECHACA',
 'LOMAS DE MENCHACA',
 'LOMAS DE PASTEUR',
 'LOMAS DE QUERETARO',
 'LOMAS DE SAN ANGEL',
 'LOMAS DE SAN JOSE',
 'LOMAS DE SAN PABLO',
 'LOMAS DE SAN PEDRITO',
 'LOMAS DE SAN PEDRITO (PORTALES)',
 'LOMAS DE SAN PEDRITO (SECCION PORTALES)',
 'LOMAS DE SATELITE',
 'LOMAS DEL CAMPANARIO II',
 'LOMAS DEL CAMPANARIO III',
 'LOMAS DEL CARMEN',
 'LOMAS DEL CIMATARIO',
 'LOMAS DEL MARQUES',
 'LOMAS DEL MARQUES 1 Y 2 ETAPA',
 'LOMAS DEL PEDREGAL',
 'LOMAS DEL PEDREGAL 2A. SECCION',
 'LOMAS DEL SALITRE',
 'LOMAS DEL VALLE',
 'LOS ALCANFORES',
 'LOS ALCANFORES SECCION NORTE',
 'LOS ALCANFORES SECCION SUR',
 'LOS ANGELES',
 'LOS ANGELES I',
 'LOS ARQUITOS',
 'LOS ARROYITOS',
 'LOS CASTAÑOS',
 'LOS CEDROS',
 'LOS CIRUELOS',
 'LOS CLAUSTROS',
 'LOS ENCINOS',
 'LOS EUCALIPTOS',
 'LOS FAROLES',
 'LOS FRAMBOYANES',
 'LOS FRESNOS',
 'LOS GIRASOLES',
 'LOS GUARDADOS',
 'LOS HUERTOS',
 'LOS JIMENEZ',
 'LOS LAURELES',
 'LOS MOLINOS',
 'LOS MUERTOS',
 'LOS NARANJOS',
 'LOS PADILLA',
 'LOS PILARES',
 'LOS ROBLES',
 'LOS SABINOS',
 'LOS SAUCES',
 'LOS TABACHINES',
 'LOS VENADOS',
 'LOS VIRREYES',
 'LOS VITRALES',
 'LUIS DONALDO COLOSIO',
 'MAGISTERIAL',
 'MANANTIALES DEL CIMATARIO',
 'MANSIONES DEL VALLE',
 'MANUEL JURADO',
 'MARGARITAS',
 'MARIANO DE LAS CASAS',
 'MARIANO ESCOBEDO',
 'MAYORAL 1 Y 2',
 'MEGA PLAZA',
 'MENCHACA I',
 'MENCHACA II',
 'MENCHACA III',
 'MERCURIO',
 'MESITA DE MOMPANI',
 'MIGUEL HIDALGO',
 'MILENIO III',
 'MIRADORES',
 'MISION BUCARELI',
 'MISION BUCARELI NORTE',
 'MISION BUCARELI SUR',
 'MISION CIMATARIO',
 'MISION DE CARRILLO',
 'MISION DE CARRILLO II',
 'MISION DE CONCA',
 'MISION FUNDADORES',
 'MISION DE SAN JERONIMO',
 'MOLINOS DE LA ERA',
 'MOMPANI',
 'MONARCA',
 'MONTE BLANCO I',
 'MONTE BLANCO II',
 'MONTE BLANCO III',
 'MONTE NEGRO',
 'MONTE VESUBIO',
 'MONTECARLO',
 'MONTENEGRO',
 'MOVIMIENTO OBRERO',
 'MUJERES INDEPENDIENTES',
 'MURANO',
 'NACOZARI',
 'NIÑOS HEROES',
 'NUEVA CREACION',
 'NUEVA ESPERANZA',
 'NUEVO CARRILLO',
 'NUEVO HORIZONTE',
 'NUEVO JURIQUILLA',
 'NUEVO MENCHACA',
 'NUEVO MORELOS',
 'NUEVO ORIZONTE',
 'NUEVO PARAISO',
 'NUEVO SAN PEDRITO',
 'OASIS',
 'OBRERA',
 'OBSERVATORIO',
 'OJO DE AGUA',
 'ORQUIDEAS',
 'PALACIO DE GOBIERNO DEL ESTADO DE\nQUERETARO',
 'PALMARES',
 'PALMAS',
 'PALMAS DE SAN JOSE',
 'PALO ALTO',
 'PALOMAR DEL DUQUE',
 'PANAMERICANO',
 'PANORAMICO',
 'PAPANOA',
 'PARAISO',
 'PARAISO DIAMANTE',
 'PARQUE INDUSTRIAL JURICA',
 'PARQUE INDUSTRIAL LA MONTAÑA',
 'PARQUE INDUSTRIAL POLIGONO EMPRESARIAL',
 'PARQUE INDUSTRIAL QUERETARO',
 'PARQUE QUERETARO 2000',
 'PARQUE SANTIAGO',
 'PASEO DEL PIROPO',
 'PASEOS DE LA CUESTA',
 'PASEOS DE SAN MIGUEL',
 'PASEOS DEL PEDREGAL',
 'PATRIA NUEVA',
 'PEDREGAL DE BUENOS AIRES',
 'PEDREGAL DE VISTA HERMOSA',
 'PEDREGAL DEL CIMATARIO',
 'PEÑUELAS',
 'PIE DE GALLO',
 'PINTILLO',
 'PINTO',
 'PLAN SANTA MARIA',
 'PLAZA BOULEVARES',
 'PLAZA DE LAS AMERICAS',
 'PLAZA DEL PARQUE',
 'PLAZAS DEL SOL 1A SECCION',
 'PLAZAS DEL SOL 2A SECCION',
 'PLAZAS DEL SOL 3A SECCION',
 'PLUTARCO ELIAS CALLES',
 'POLIGONO EMPRESARIAL SANTA ROSA JAUREGUI',
 'POTRERO TETILLAS',
 'PRADERAS DEL SOL',
 'PRADOS DE LA CAPILLA',
 'PRADOS DE LOMA BONITA',
 'PRADOS DE MIRANDA',
 'PRADOS DE QUERETARO',
 'PRADOS DEL CAMPESTRE',
 'PRADOS DEL CIMATARIO',
 'PRADOS DEL MIRADOR',
 'PRADOS DEL RINCON',
 'PRADOS DEL RINCON 2A. SECCION',
 'PRADOS DEL TECNOLOGICO',
 'PRESA DE BECERRA',
 'PRESIDENTES',
 'PRESITA DE SAN ANTONIO',
 'PRIMAVERA',
 'PRIVADA ARBOLEDAS',
 'PRIVADA BUGAMBILIAS',
 'PRIVADA DE LOS PORTONES',
 'PRIVADA LA LABORCILLA',
 'PRIVALIA AMBIENTA',
 'PROVINCIA SANTA ELENA',
 'PROYECCION 2000',
 'PUERTA DE BELEN',
 'PUERTA DEL CIELO',
 'PUERTA DEL SOL',
 'PUERTA DEL SOL II',
 'PUERTA NAVARRA',
 'PUERTO DE AGUIRRE',
 'PUESTA DEL SOL',
 'PUNTA JURIQUILLA',
 'PUNTA SAN CARLOS',
 'QUERENA',
 'QUINTA ALICIA',
 'QUINTA BALAUSTRADAS',
 'QUINTA LA LABORCILLA',
 'QUINTAS DEL MARQUES',
 'QUINTIN LOZADA',
 'RANCHO BELLAVISTA',
 'RANCHO LARGO',
 'RANCHO MENCHACA',
 'RANCHO MENCHACA (EX-HACIENDA MENCHACA)',
 'RANCHO QUEMADO',
 'RANCHO SAN ANTONIO',
 'RANCHO SAN PEDRO',
 'RAQUEL TREJO ORTIZ',
 'RAQUET CLUB',
 'REAL DE ESPAÑA',
 'REAL DE JURIQUILLA',
 'REAL DE JURIQUILLA (DIAMANTE)',
 'REAL DE JURIQUILLA (PAISANO)',
 'REAL DE JURIQUILLA PRADOS',
 'REAL DE LA LOMA',
 'REAL DE SAN PABLO',
 'REAL DEL MARQUES RESIDENCIAL',
 'REAL DEL PARQUE',
 'REAL JURICA',
 'REFORMA AGRARIA',
 'RENACIMIENTO',
 'RESIDENCIAL BOSQUES',
 'EL REFUGIO',
 'RESIDENCIAL FRONDOSO',
 'RESIDENCIAL GEMA',
 'RESIDENCIAL ITALIA',
 'RESIDENCIAL LAS FUENTES',
 'RESIDENCIAL PARQUE DEL ALAMO',
 'RESIDENCIAL PARQUE LA GLORIA',
 'RICARDO FLORES MAGON',
 'RINCON DE SAN ANDRES',
 'RINCON DE SAN ANTONIO',
 'RINCON DEL CIMATARIO',
 'RINCON DEL LAGO',
 'RINCONADA DE LAS FUENTES',
 'RINCONADA DE LAS JOYAS',
 'RINCONADA DE LOS ALAMOS',
 'RINCONADA DEL CERRITO',
 'RINCONADA DEL SOL',
 'RINCONADA FRAY JUAN',
 'RINCONADA JACARANDAS',
 'RINCONADA JURICA',
 'RINCONADA LA CAPILLA',
 'RINCONADA LOS PIRULES',
 'RINCONADA MORELOS',
 'RINCONADA SAN JOAQUIN',
 'RINCONADA SAN JOSE',
 'RINCONADA SANTA ANITA',
 'RINCONADA ZIMAPAN',
 'RINCONES DEL PARQUE',
 'RIVERA',
 'RIVERA Y TAMAYO',
 'ROCIO SANZ',
 'ROMY',
 'ROSENDO SALAZAR',
 'RUBEN JARAMILLO',
 'SALINAS',
 'SAN ANDRES',
 'SAN ANGEL',
 'SAN ANTONIO DE LA PUNTA',
 'SAN ANTONIO DE TROJES',
 'SAN ANTONIO DEL MAUREL',
 'SAN DIEGO',
 'SAN FELIPE',
 'SAN FELIPE (SAN JOSE EL ALTO)',
 'SAN FRANCISCO',
 'SAN FRANCISCO DE LA PALMA',
 'SAN FRANCISCO JURIQUILLA',
 'SAN FRANCISQUITO',
 'SAN GREGORIO',
 'SAN ISIDRO',
 'SAN ISIDRO BUENAVISTA',
 'SAN ISIDRO EL ALTO',
 'SAN ISIDRO JURIQUILLA',
 'SAN ISIDRO VIEJO',
 'SAN JAVIER',
 'SAN JOAQUIN',
 'SAN JOAQUIN (SAN PABLO)',
 'SAN JOSE',
 'SAN JOSE 2A SECCION',
 'SAN JOSE BUENAVISTA',
 'SAN JOSE DE LA MONTAÑA',
 'SAN JOSE DE LA TINAJA',
 'SAN JOSE DE LOS PERALES',
 'SAN JOSE EL ALTO',
 'SAN JOSE INN',
 'SAN MARCOS',
 'SAN MARCOS I',
 'SAN MIGUELITO',
 'SAN PABLO',
 'SAN PABLO I',
 'SAN PABLO I FOVISSSTE',
 'SAN PABLO II',
 'SAN PABLO II FOVISSSTE',
 'SAN PABLO III (INFONAVIT)',
 'SAN PABLO IV (INFONAVIT)',
 'SAN PABLO TECNOLOGICO',
 'SAN PEDRITO ECOLOGICO',
 'SAN PEDRITO EL ALTO',
 'SAN PEDRITO LOS ARCOS',
 'SAN PEDRITO PEÑUELAS',
 'SAN PEDRITO PEÑUELAS I',
 'SAN PEDRITO PEÑUELAS II',
 'SAN PEDRITO PEÑUELAS III',
 'SAN PEDRITO PEÑUELAS IV',
 'SAN PEDRO MARTIR',
 'SAN MIGUEL',
 'SAN ROQUE',
 'SAN SEBASTIAN',
 'SANTA CATARINA',
 'SANTA CATARINA (ASOCIACION DE COLONOS)',
 'SANTA FE',
 'SANTA ISABEL',
 'SANTA JUANITA',
 'SANTA LUCIA',
 'SANTA MARIA DEL ZAPOTE',
 'SANTA MARIA MAGDALENA',
 'SANTA MONICA',
 'SANTA MONICA 1A SECCION',
 'SANTA MONICA 2A SECC',
 'SANTA ROSA',
 'SANTA ROSA (LOS PILARES)',
 'SANTA ROSA DE JAUREGUI',
 'SANTO NIÑO',
 'SANTO NIÑO DE PRAGA',
 'SATELITE',
 'SATELITE FOVISSSTE',
 'SATELITE SECCION ANDADORES',
 'SATELITE SECCION CONDOMINIOS',
 'SECCION OESTE DE SANTA MARIA',
 'SECRETARIA DE HACIENDA Y CREDITO PUBLICO',
 'SERGIO VILLASEÑOR',
 'SIERRA COLORADA',
 'SOLIDARIDAD 90',
 'SONTERRA',
 'TECNOLOGICO',
 'TECNOLOGICO 2000',
 'TEJAS',
 'TENOCHTITLAN',
 'TENOCHTITLAN II',
 'TEOTIHUACAN',
 'TERRAZAS DE SAN PABLO',
 'TLACOTE EL ALTO',
 'TLACOTE EL BAJO',
 'TLANESE',
 'TONATIU',
 'TONATIUH',
 'TONATIUH 2A. SECCION',
 'TONATIUH 3A SECCION',
 'TONATIUH 4A SECCION',
 'UNIDAD NACIONAL',
 'UNIDAD ROMA',
 'UNION MAGISTERIAL',
 'UNIVERSIDAD',
 'UNIVERSO 200',
 'UNIVERSO 2000',
 'VALLE ALAMEDA',
 'VALLE DE JURIQUILLA',
 'VALLE DE SAN PABLO',
 'VALLE DE SAN PABLO II',
 'VALLE DE SAN PEDRITO PEÑUELAS',
 'VALLE DE SAN PEDRO',
 'VALLE DE SAN PEDRO 2A SECCION',
 'VALLE DE SANTIAGO',
 'VALLE DEL MEZQUITAL',
 'VALLE DORADO',
 'VALLE GARDEN',
 'VALLE REAL DE SAN ANGEL',
 'VALLES DE SAN JOSE',
 'VICTOR ITURBE',
 'VICTORIA',
 'VICTORIA POPULAR',
 'VILLA JARDIN',
 'VILLA LAS ARBOLEDAS',
 'VILLA LOS ARCOS',
 'VILLA SAN ANTONIO',
 'VILLAS DE GUADALUPE',
 'VILLAS DE SAN JOSE',
 'VILLAS DE SAN MIGUEL',
 'VILLAS DE SANTA MONICA',
 'VILLAS DE SANTIAGO',
 'VILLAS DEL CIMATARIO',
 'VILLAS DEL MESON',
 'VILLAS DEL ORIENTE',
 'VILLAS DEL PARQUE',
 'VILLAS DEL REFUGIO',
 'VILLAS DEL RINCON',
 'VILLAS DEL SOL',
 'VILLAS DEL SUR',
 'VILLAS FONTANA',
 'VILLAS PALMIRA',
 'VILLAS TECNOLOGICO',
 'VILLAS VALLE ALAMEDA',
 'VISTA 2000',
 'VISTA ALEGRE',
 'VISTA ALEGRE 2A SECC',
 'VISTA ALEGRE 3A SECCION',
 'VISTA AZUL',
 'VISTA DORADA',
 'VISTA HERMOSA',
 'VISTANA',
 'VISTAS DEL CIMATARIO',
 'VISTAS DEL VALLE',
 'VIVEROS DE QUERETARO',
 'VIVEROS RESIDENCIAL',
 'VIÑEDOS',
 'VOLCANES',
 'ZAPATA VIVE',
 'ZONA ESTE DE MONTENEGRO',
 'ZONA MILITAR',
 'ZONA PERIFERICA SAN MIGUELITO']

In [23]:
# loop to place a neighborhoodfor per record
for i in a:
    df_total.loc[df_total["Ubication"].str.contains(i, case=False, na=False, regex=False), "Neighborhood"] = i

In [24]:
# setting neighborhoods to special records
df_total.iloc[471,7] = 'EL REFUGIO'
df_total.iloc[777,7] = 'MILENIO III'

In [25]:
# Deleting 31 records because tehy are not from Queretaro municipio
df_total = df_total.dropna(subset='Neighborhood')

In [26]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 884 entries, 1 to 908
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           884 non-null    object
 1   Ubication       884 non-null    object
 2   Total_Area_m^2  884 non-null    object
 3   Built_Area_m^2  884 non-null    object
 4   Bedrooms        884 non-null    object
 5   Bathrooms       884 non-null    object
 6   Parking         884 non-null    object
 7   Neighborhood    884 non-null    object
dtypes: object(8)
memory usage: 62.2+ KB

In [27]:
#, QuerÃ©taro, QuerÃ©taroVer informaciÃ³n de la zona
# Guardar en un nuevo archivo CSV
df_total.to_csv('draft_total.csv', index=False)

In [28]:
dfk_total.head(30)

NameError: name 'dfk_total' is not defined

In [ ]:
df_total.iloc[1:5]

,House,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,colonia
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del Sol,69,0,3,1,1,EL SOL
3,Casa En Venta En Altozano,11190000,Casa En Venta En Altozano,370,0,4,4,3,ALTOZANO
4,Iluminada Y Comoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Rio, La Joya",150,195,3,3,2,SANTIAGO
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabon 101, Cumbres Del Lago, Juriquilla...",400,400,5,4,4,JURIQUILLA

In [ ]:
df_total['colonia'] == 'Queretaro'
df.loc[df["colonia"] == "Queretaro", "colonia"] =()

for i in a:
    df_total.loc[df_total["Ubication"].str.contains(i, case=False, na=False), "colonia"] = i

KeyError: 'colonia'

In [ ]:
df_total.loc[df_total["Ubication"].str.contains("refugio", case=False, na=False), "colonia"] = "El Refugio"
df_total.loc[df_total["House"].str.contains("refugio", case=False, na=False), "colonia"] = "El Refugio"

df_total.loc[df_total["Ubication"].str.contains("ciudad del sol", case=False, na=False), "colonia"] = "Ciudad del Sol"

df_total.loc[df_total["Ubication"].str.contains("altozano", case=False, na=False), "colonia"] = "Altozano"

df_total.loc[df_total["Ubication"].str.contains("joya", case=False, na=False), "colonia"] = "La Joya"

df_total.loc[df_total["Ubication"].str.contains("candiles", case=False, na=False), "colonia"] = "Candiles"

df_total.loc[df_total["Ubication"].str.contains("milenio", case=False, na=False), "colonia"] = "Milenio lll"
df_total.loc[df_total["House"].str.contains("milenio", case=False, na=False), "colonia"] = "Milenio lll"

df_total.loc[df_total["Ubication"].str.contains("venceremos", case=False, na=False), "colonia"] = "Venceremos"

df_total.loc[df_total["Ubication"].str.contains("la vista", case=False, na=False), "colonia"] = "La Vista Residencial"

df_total.loc[df_total["Ubication"].str.contains("cimatario", case=False, na=False), "colonia"] = "Cumbres del Cimatario"
df_total.loc[df_total["House"].str.contains("cimatario", case=False, na=False), "colonia"] = "Cumbres del Cimatario"

df_total.loc[df_total["Ubication"].str.contains("pedregal", case=False, na=False), "colonia"] = "Paseos del Pedregal"

df_total.loc[df_total["Ubication"].str.contains("campanario", case=False, na=False), "colonia"] = "El Campanario"
df_total.loc[df_total["House"].str.contains("campanario", case=False, na=False), "colonia"] = "El Campanario"

df_total.loc[df_total["Ubication"].str.contains("zibat", case=False, na=False), "colonia"] = "Zibata"
df_total.loc[df_total["House"].str.contains("zibat", case=False, na=False), "colonia"] = "Zibata"

df_total.loc[df_total["Ubication"].str.contains("marqu", case=False, na=False), "colonia"] = "El Marques"
df_total.loc[df_total["House"].str.contains("marqu", case=False, na=False), "colonia"] = "El Marques"

df_total.loc[df_total["Ubication"].str.contains("juriqui", case=False, na=False), "colonia"] = "Juriquilla"
df_total.loc[df_total["Ubication"].str.contains("club campestre", case=False, na=False), "colonia"] = "Juriquilla"
df_total.loc[df_total["Ubication"].str.contains("villas del mes", case=False, na=False), "colonia"] = "Juriquilla"
df_total.loc[df_total["Ubication"].str.contains("sonterra", case=False, na=False), "colonia"] = "Juriquilla"
df_total.loc[df_total["House"].str.contains("juriquilla", case=False, na=False), "colonia"] = "Juriquilla"

df_total.loc[df_total["Ubication"].str.contains("lago", case=False, na=False), "colonia"] = "Cumbres del Lago"
df_total.loc[df_total["House"].str.contains("lago", case=False, na=False), "colonia"] = "Cumbres del Lago"

df_total.loc[df_total["Ubication"].str.contains("cuesta bonita", case=False, na=False), "colonia"] = "Cuesta Bonita"

df_total.loc[df_total["Ubication"].str.contains("centro", case=False, na=False), "colonia"] = "Centro Historico"

df_total.loc[df_total["Ubication"].str.contains("acueducto", case=False, na=False), "colonia"] = "Balcones del Acueducto"

df_total.loc[df_total["Ubication"].str.contains("catedral", case=False, na=False), "colonia"] = "Claustros de la Catedral"

df_total.loc[df_total["Ubication"].str.contains("mirador", case=False, na=False), "colonia"] = "El Mirador"

df_total.loc[df_total["Ubication"].str.contains("jurica", case=False, na=False), "colonia"] = "Jurica"
df_total.loc[df_total["House"].str.contains("jurica", case=False, na=False), "colonia"] = "Jurica"

df_total.loc[df_total["Ubication"].str.contains("fundadores", case=False, na=False), "colonia"] = "Los Fundadores"

df_total.loc[df_total["Ubication"].str.contains("fray jun", case=False, na=False), "colonia"] = "La Espiga"
df_total.loc[df_total["House"].str.contains("espiga", case=False, na=False), "colonia"] = "La Espiga"

df_total.loc[df_total["Ubication"].str.contains("sat", case=False, na=False), "colonia"] = "Lomas de Satelite"

df_total.loc[df_total["Ubication"].str.contains("lamos", case=False, na=False), "colonia"] = "Alamos"

df_total.loc[df_total["Ubication"].str.contains("pedrito", case=False, na=False), "colonia"] = "Lomas de San Pedrito"

df_total.loc[df_total["Ubication"].str.contains("dorada", case=False, na=False), "colonia"] = "Loma Dorada"

df_total.loc[df_total["Ubication"].str.contains("felipe", case=False, na=False), "colonia"] = "Felipe Carrillo Puerto"

df_total.loc[df_total["Ubication"].str.contains("villas del mes", case=False, na=False), "colonia"] = "Villas del Meson"

df_total.loc[df_total["Ubication"].str.contains("corregidora", case=False, na=False), "colonia"] = "Corregidora"
df_total.loc[df_total["House"].str.contains("corregidora", case=False, na=False), "colonia"] = "Corregidora"

df_total.loc[df_total["Ubication"].str.contains("zakia", case=False, na=False), "colonia"] = "Zakia"
df_total.loc[df_total["House"].str.contains("zakia", case=False, na=False), "colonia"] = "Zakia"

df_total.loc[df_total["Ubication"].str.contains("tintero", case=False, na=False), "colonia"] = "Tintero"
df_total.loc[df_total["House"].str.contains("tintero", case=False, na=False), "colonia"] = "Tintero"

df_total.loc[df_total["Ubication"].str.contains("el alto", case=False, na=False), "colonia"] = "San Jose el Alto"
df_total.loc[df_total["House"].str.contains("el alto", case=False, na=False), "colonia"] = "San Jose el Alto"

df_total.loc[df_total["House"].str.contains("los olvera", case=False, na=False), "colonia"] = "San Jose de los Olvera"

df_total.loc[df_total["House"].str.contains("fuentes", case=False, na=False), "colonia"] = "Las Fuentes"

# Guardar en un nuevo archivo CSV
df_total.to_csv('draft_total.csv', index=False)

Checking values for each column

In [ ]:
df['Bathrooms'].value_counts()

Bathrooms
 'Baños2'        272
 'Baños4'        216
 'Baños3'        216
 'Baños5'         98
 'Baños1'         55
 'Recámaras4'     19
 'Recámaras3'     16
 'Baños6'          8
 'Baños0'          3
 'Baños7'          3
 'Recámaras6'      2
870 m²'            2
 'Recámaras5'      2
 'Baños11'         1
437 m²'            1
300 m²'            1
200 m²'            1
229 m²'            1
Name: count, dtype: int64

In [ ]:
df['Bedrooms'].value_counts()

Bedrooms
 'Recámaras3'                        497
 'Recámaras4'                        273
 'Recámaras2'                         52
 'Recámaras5'                         37
 'Recámaras6'                          6
 'Recámaras1'                          5
 'Superficie construida600 m²'         3
 'Superficie construida1 m²'           3
 'Superficie construida350 m²'         3
 'Superficie construida1               3
 'Superficie construida759 m²'         2
 'Superficie construida850 m²'         2
 'Superficie construida0 m²'           2
 'Superficie construida501 m²'         1
 'Superficie construida32              1
 'Superficie construida525 m²'         1
 'Superficie construida420 m²'         1
 'Superficie construida453 m²'         1
 'Superficie construida450 m²'         1
 'Superficie construida250 m²'         1
 'Superficie construida762 m²'         1
 'Superficie construida2               1
 'Superficie construida800 m²'         1
 'Superficie construida948 m²'         1
 'Superficie construida442 m²'         1
 'Superficie construida948.36 m²'      1
 'Superficie construida650 m²'         1
248 m²'                                1
 'Superficie construida675 m²'         1
 'Superficie construida346 m²'         1
 'Superficie construida320 m²'         1
 'Superficie construida790 m²'         1
 'Superficie construida900 m²'         1
 'Superficie construida480 m²'         1
 'Superficie construida827 m²'         1
 'Superficie construida899 m²'         1
519 m²'                                1
 'Superficie construida209 m²'         1
 'Recámaras0'                          1
 'Recámaras200'                        1
 'Superficie construida750 m²'         1
 'Superficie construida3               1
Name: count, dtype: int64

####### no util ##### Eliminar columnas: Features, none1, none2 and none3

In [ ]:
df.head()

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total286 m²', 'Superficie constru...",['Superficie total286 m²','Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None,None
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,"['Superficie total69 m²', 'Superficie construi...",['Superficie total69 m²','Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None,None
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...","['Superficie total370 m²', 'Superficie constru...",['Superficie total370 m²','Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2','Tipo de casaCasa','Tipo de propiedadCasa sola','Mantenimiento0 MXN'],None,None,None
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...","['Superficie total150 m²', 'Superficie constru...",['Superficie total150 m²','Superficie construida195 m²','Recámaras3','Baños3','Estacionamientos2','Es propiedad en remateNo','Antigüedad18 años','Ambientes4','Bodegas1','Cantidad de pisos2','Tipo de casaCasa','OrientaciónPoniente','Mantenimiento1 MXN'],None,None,None
5,¡¡jb-excelente Propiedad En Cumbres Del Lago Q...,849000,"Lago Eslabón 101, Cumbres Del Lago, Juriquilla...","['Superficie total400 m²', 'Superficie constru...",['Superficie total400 m²','Superficie construida400 m²','Recámaras5','Baños4','Estacionamientos4','Es propiedad en remateSí','Antigüedad7 años','Ambientes5','Bodegas1','Cantidad de pisos2','Tipo de casaCasa','OrientaciónPoniente','Mantenimiento1,000 MXN'],None,None

In [ ]:
df_number = df[df['Built_Area_m^2'].str.contains('^0|^1|^2|^3|^4|^5|^6|^7|^8|^9')]

In [ ]:
#df_number.loc[:, 'new3'] = df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

In [ ]:
#df_number=df.copy()
df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

C:\Users\Pc\AppData\Local\Temp\ipykernel_18368\3580634725.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_number['Total_Area_m^2']= df_number['Total_Area_m^2']+df_number['Built_Area_m^2']

In [ ]:
df_number.head()

,House,Price,Ubication,Features,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors,Type_of_house,Orientation,Maintenance,columnA,columnB,columnC
143,Impecable Casa Tipo Colonial Con Alberca En Ve...,18950000,"Juriquilla, Querétaro, QuerétaroVer informació...","['Superficie total2,200 m²', 'Superficie const...",['Superficie total2200 m²',200 m²','Superficie construida750 m²','Recámaras4','Baños4','Estacionamientos10','Es propiedad en remateNo','Antigüedad0 años','Ambientes9','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None
147,Lujosa Y Moderna Casa En Venta Con Recámara En...,42500000,"El Campanario, Querétaro, QuerétaroVer informa...","['Superficie total1,500 m²', 'Superficie const...",['Superficie total1500 m²',500 m²','Superficie construida1 m²','Recámaras4','Baños4','Estacionamientos4','Es propiedad en remateNo','Antigüedad13 años','Ambientes9','Bodegas0','Mantenimiento0 MXN'],None,None,None,None,None
151,Lujosa Y Moderna Casa En Venta Con Recámara En...,42500000,"El Campanario, Querétaro, QuerétaroVer informa...","['Superficie total1,500 m²', 'Superficie const...",['Superficie total1500 m²',500 m²','Superficie construida1 m²','Recámaras4','Baños4','Estacionamientos4','Es propiedad en remateNo','Antigüedad13 años','Ambientes9','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None
250,Casa En Condominio En Venta En Lomas Del Campa...,59900000,"Avenida Senda Mágica, Milenio III, Querétaro, ...","['Superficie total1,281 m²', 'Superficie const...",['Superficie total1281 m²',281 m²','Superficie construida1,870 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad4 años','Ambientes5','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte'],None,None
377,Casa Venta Mirador,3100000,"Residencial El Refugio, Querétaro, QuerétaroVe...","['Superficie total1,202 m²', 'Superficie const...",['Superficie total1202 m²',202 m²','Superficie construida209 m²','Recámaras3','Baños3','Estacionamientos5','Es propiedad en remateNo','Antigüedad0 años','Ambientes6','Bodegas0','Cantidad de pisos0','Tipo de casaCasa','OrientaciónNorte','Mantenimiento0 MXN'],None,None

In [ ]:
# Guardar en un nuevo archivo CSV
df_number.to_csv('draft_no.csv', index=False)

In [ ]:
# Guardar en un nuevo archivo CSV
df.to_csv('draft.csv', index=False)

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'producto': ['Manzana', 'Naranja', 'Banana'],
        'precio': [1.5, 0.75, 0.50],
        'stock': [100, 150, 200]}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file named 'frutas.csv'
df.to_csv('frutas.csv')

In [ ]:
df.to_csv('frutas.csv')

Editing values from each column

In [ ]:
df = df.fillna('[]').infer_objects()
df.head(2)

  producto  precio  stock
0  Manzana    1.50    100
1  Naranja    0.75    150

In [ ]:
#df['Total Area'] = df['Total Area'].apply(lambda x:x[18:])
df['Total_Area_m^2'] = df['Total_Area_m^2'].apply(lambda x:x[18:-4])

KeyError: 'Total_Area_m^2'

In [ ]:
df['Total_Area_m^2'] = df['Total_Area_m^2'].apply(lambda x:x[18:-4])
df['Built_Area_m^2'].apply(lambda x:x[23:-4])
df['Bedrooms'].apply(lambda x:x[11:-1])
df['Bathrooms'].apply(lambda x:x[7:-1])
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])
df['Age'].apply(lambda x:x[10:-1])

0
1       314
2         0
3         0
4       195
       ...
1047     75
1048    130
1049     90
1050    442
1051    120
Name: Built_Area_m^2, Length: 987, dtype: object

In [ ]:
df['Bedrooms'].apply(lambda x:x[11:-1])

0
1       4
2       3
3       4
4       3
       ..
1047    2
1048    3
1049    3
1050    4
1051    3
Name: Bedrooms, Length: 987, dtype: object

In [ ]:
df['Bathrooms'].apply(lambda x:x[7:-1])

0
1       5
2       1
3       4
4       3
       ..
1047    1
1048    2
1049    2
1050    5
1051    2
Name: Bathrooms, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])

0
1       2
2       1
3       3
4       2
       ..
1047    1
1048    2
1049    2
1050    0
1051    2
Name: Parking, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])

0
1       No
2       No
3       No
4       No
        ..
1047    No
1048    Sí
1049    Sí
1050    No
1051    Sí
Name: Property_for_sale, Length: 987, dtype: object

In [ ]:
df['Parking'].apply(lambda x:x[18:-1])
df['Property_for_sale'].apply(lambda x:x[24:-1])
df['Age'].apply(lambda x:x[10:-1])

0
1        ad8 años
2        ad0 años
3        ad0 años
4       ad18 años
          ...
1047    ad15 años
1048    ad15 años
1049    ad12 años
1050     ad1 años
1051     ad6 años
Name: Age, Length: 987, dtype: object

In [ ]:
# eliminar
df['Number_of_floors'].apply(lambda x:x[19:-1])

0
1       0
2       2
3       2
4       2
       ..
1047    2
1048    2
1049    2
1050    0
1051    2
Name: Number_of_floors, Length: 987, dtype: object

In [ ]:
df.head()

,House,Price,Ubication,Total_Area_m^2,Built_Area_m^2,Bedrooms,Bathrooms,Parking,Property_for_sale,Age,Rooms,Storage,Number_of_floors
0,Casa Estilo Californiano En Zona Céntrica A 5m...,5800000,"Colinas Del Parque, Querétaro, QuerétaroVer in...",,[],[],[],[],[],[],[],[],[]
1,Casa Minimalista En Venta,5650000,"Juriquilla, Querétaro, QuerétaroVer informació...",286,'Superficie construida314 m²','Recámaras4','Baños5','Estacionamientos2','Es propiedad en remateNo','Antigüedad8 años','Ambientes10','Bodegas0','Cantidad de pisos0'
2,Casa En Venta En Las Haciendas En Ciudad Del Sol,1595000,Casa En Venta En Las Haciendas En Ciudad Del S...,69,'Superficie construida0 m²','Recámaras3','Baños1','Estacionamientos1','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
3,Casa En Venta En Altozano,11190000,"Casa En Venta En Altozano, Querétaro, Querétar...",370,'Superficie construida0 m²','Recámaras4','Baños4','Estacionamientos3','Es propiedad en remateNo','Antigüedad0 años','Ambientes0','Bodegas0','Cantidad de pisos2'
4,Iluminada Y Cómoda Casa Oportunidad La Joya Sa...,790000,"Blvd. Dolores Del Río, La Joya, Querétaro, Que...",150,'Superficie construida195 m²','Recámaras3','Baños3','Estacionamientos2','Es propiedad en remateNo','Antigüedad18 años','Ambientes4','Bodegas1','Cantidad de pisos2'

In [ ]:
############################## ready

In [ ]:
#df.loc[:, 'Price'] = df['Price'].astype('int')
df.head()

In [ ]:
# **MÉTODO RECOMENDADO** (Usando las variables originales para el cálculo de ambas)
condicion = df_total['Built_Area_m^2'] < df_total['Total_Area_m^2']

# Si hay error (True), toma el valor de B; si no (False), toma el valor de A.
total_A = np.where(condicion, df_total['Total_Area_m^2'], df_total['Built_Area_m^2'])

# Si hay error (True), toma el valor de A; si no (False), toma el valor de B.
build_A = np.where(condicion, df_total['Built_Area_m^2'], df_total['Total_Area_m^2'])

# Asignar los nuevos valores
df_total['Total_Area_m^2'] = total_A
df_total['Built_Area_m^2'] = build_A